<section class="container row">
    <div class=="col-3">
        <p class="text-center">
            username
        </p>
        <p>{{username}}</p>
    </div>
    <div class=="col-3">
        <p class="text-center">
            email
        </p>
        <p>{{email}}</p>
    </div>
    <div class=="col-3">
        
    </div>
    <div class=="col-3">
        
    </div>
</section>